---
import { astroI18n, t } from "astro-i18n";
import SectionTitle from "../SectionTitle.astro";
import { formatDate } from "../../utils/formatDate";
import type { ResumeSchema } from "@kurone-kito/jsonresume-types";

const { volunteer } = Astro.props;

interface Props {
  volunteer: ResumeSchema["volunteer"];
}
---

<div>
  <SectionTitle>{t("section.volunteer")}</SectionTitle>
  {
    volunteer?.map((volunteer) => {
      volunteer.startDateParsed = volunteer.startDate ? formatDate(volunteer.startDate, astroI18n.locale) : undefined;
      volunteer.endDateParsed = volunteer.endDate ? formatDate(volunteer.endDate, astroI18n.locale) : undefined;
      return (
        <>
          <div class="flex font-semibold">
            <h4 class="flex-1">{volunteer.organization}</h4>
            <p>
              {volunteer.startDateParsed} - {volunteer.endDateParsed || t("present")}
            </p>
          </div>
          <div class="flex">
            <p class="flex-1">{volunteer.summary}</p>
            <p>{volunteer.position}</p>
          </div>
          <ul class="list-disc text-sm text-gray-900">
            {volunteer.highlights?.map((highlight) => {
              return <li class="ml-4">{highlight}</li>;
            })}
          </ul>
        </>
      );
    })
  }
</div>
