---
import { astroI18n, t } from "astro-i18n";
import SectionTitle from "../SectionTitle.astro";
import type { ResumeSchema } from "@kurone-kito/jsonresume-types";
import { formatDate } from "../../utils/formatDate";

const { work } = Astro.props;

interface Props {
  work: ResumeSchema["work"];
}
---

<section>
  <SectionTitle>{t("section.work")}</SectionTitle>
  {
    work?.map((work) => {
      work.startDateParsed = work.startDate ? formatDate(work.startDate, astroI18n.locale) : undefined;
      work.endDateParsed = work.endDate ? formatDate(work.endDate, astroI18n.locale) : undefined;
      return (
        <>
          <div class="flex font-semibold">
            <h4 class="flex-1">
              <a href={work.url}>{work.name}</a>
            </h4>
            <p>
              {work.startDateParsed} - {work.endDateParsed || t("present")}
            </p>
          </div>
          <div class="flex">
            <p class="flex-1">{work.summary}</p>
            <p>{work.position}</p>
          </div>
          <ul class="list-disc text-sm text-gray-900">
            {work.highlights?.map((highlight) => {
              return <li class="ml-4">{highlight}</li>;
            })}
          </ul>
        </>
      );
    })
  }
</section>
